
.product {
	&__thumb {
		$size: 100px;
		width: $size;
		height: $size;
		border: 1px solid #ddd;
		padding: 4px;
		border-radius: 2px;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}