@import '~styles/common/variables';

.product-modal {
    background: white;
    &__close-btn {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        svg {
            fill: white;
            // $size: 24px;
        }
    }

    &__wrapper {
        margin: 0 auto;
        padding: 0 10px;
        &.type_error {
            max-width: 400px;
        }
        &.type_loaded {
            max-width: $mq_desktop_min;
        }
    }
}