@import '~styles/common/variables';

.product-wrapper {
    max-width: 600px;
    &__common {
    }
    &.type_modal {
        border-radius: 2px;
        margin: 2em auto;
        background: white;
    }
    &__loading {

    }
    &__error {
        max-width: 400px;
        padding: 2em;
        text-align: center;
        span {
            display: block;
            margin-top: 1.2em;
            font-size: 1.5rem;
            color: $g1;
        }
    }
    &__error-icon {
        svg {
            fill: $red2;
            $size: 36px;
            width: $size;
            height: $size;
        }
    }
}