
// ******** fonts ********
$font-main: 'Open Sans', -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
$font-main: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;


// ******** colors ********
$body-default: #333;

// greys
$g1: #323232;
$g2: #56565B;
$g3: #8A8A8A;
$g4: #bebebe;
$g5: #DFDFDF;
$g6: #E9E6E6;
$g7: #F8F8F8;
$g8: #f5f5f5;

$yellow1: #FAD74E;
$blue1: #92D2FC;
$red1: #FF8989;
$red2: #fd5c63;

// ******** animation easings ********
$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);


// ******** media queries ********
$mq_small: 480px;
$mq_med: 720px;
$mq_big: 960px;

$mq_small-padding: 14px;