@import '~styles/common/variables';
@import '~styles/common/mixins';

.shuffle {
    @include mq(max, $mq_big){
        padding-left: $mq_small-padding;
        padding-right: $mq_small-padding;
    }
    &__loading {
        margin: 150px 0;
    }

    &__empty-results {
        display: block;
        text-align: center;
        padding: 60px 0;
        font-size: 1.6rem;
        color: $g3;
        button {
            // color: $red2;
            color: $g2;
            padding: 0.5em;
            width: 100%;
            display: block;
            text-align: center;
        }
    }

    &__header {
        margin-top: 40px;
        margin-bottom: 1.4em;
        h2 {
            // color: $g2;
            color: $g3;
            // color: $red2;
            font-size: 2.6rem;
            font-weight: 400;
            display: inline-block;
            vertical-align: middle;
        }
    }
    &__button {
        vertical-align: middle;
        color: $g2;
        font-size: 2rem;
        font-size: 1.8rem;
        svg {
            /* $size: 24px;
            width: $size;
            height: $size;
            vertical-align: -4px;
            margin-left: 4px;
            */
            fill: $g2;
            $size: 18px;
            width: $size;
            height: $size;
            vertical-align: -2px;
            margin-left: 4px;
        }

        border-radius: 2px;
        padding: 3px 7px;
        transition: 0.2s ease-out;
        border: 1px solid transparent;
        &:hover {
            background: $red1;
            background: lighten($g6, 2%);
            border-color: $g6;
        }
    }
}
