@import '~styles/common/variables';
@import '~styles/common/mixins';

@mixin modal {
    background: white;
    border-radius: 3px;
}

.product-wrapper {
    // max-width: 720px;
    margin: 2em auto;
    position: relative;
    &.type_modal {
        @include modal;
        padding: 0 20px 1px;
    }
    @include mobile {
        padding: 0 20px;
    }
    
    &__close-modal {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        svg {
            fill: $g4;
            transition: fill 0.15s ease-out;
        }
        &:hover svg {
            fill: $g3;
        }
    }

    // loading
    &__loading {
        // only has full page classes
        padding: 1em;
        margin: 13vh auto;
    }
    

    // error
    &__error {
        &.type_modal {
            @include modal;
        }
        &.type_full {
            margin-top: 2em;
        }
    }
}