@import '~styles/common/variables';

@mixin modal {
    background: white;
    border-radius: 3px;
}

.product-wrapper {
    max-width: 720px;
    margin: 2em auto;
    position: relative;
    &.type_modal {
        @include modal;
    }
    &__close-modal {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        svg {
            fill: $g4;
            transition: fill 0.15s ease-out;
        }
        &:hover svg {
            fill: $g3;
        }
    }

    // loading
    &__loading {
        // only has full page classes
        padding: 1em;
        margin: 13vh auto;
    }
    

    // error
    &__error {
        padding: 2.5em 2em;
        text-align: center;
        span {
            display: block;
            margin-top: 1.2em;
            font-size: 1.6rem;
            color: $g3;
        }
        &.type_modal {
            max-width: 400px;
            @include modal;
        }
        &.type_full {
            margin-top: 2em;
        }
    }
    &__error-icon {
        svg {
            fill: $red2;
            $size: 48px;
            width: $size;
            height: $size;
        }
    }
}